In [59]:
#importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [60]:
#reading csv file from db
df = pd.read_csv('../input/boston-crime-data/crime.csv', encoding='latin-1')
df.head()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182080058,2403,Disorderly Conduct,DISTURBING THE PEACE,E18,495,NaN,2018-10-03 20:13:00,2018,10,Wednesday,20,Part Two,ARLINGTON ST,42.262608,-71.121186,"(42.26260773, -71.12118637)"
1,I182080053,3201,Property Lost,PROPERTY - LOST,D14,795,NaN,2018-08-30 20:00:00,2018,8,Thursday,20,Part Three,ALLSTON ST,42.352111,-71.135311,"(42.35211146, -71.13531147)"
2,I182080052,2647,Other,THREATS TO DO BODILY HARM,B2,329,NaN,2018-10-03 19:20:00,2018,10,Wednesday,19,Part Two,DEVON ST,42.308126,-71.076930,"(42.30812619, -71.07692974)"
3,I182080051,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,A1,92,NaN,2018-10-03 20:00:00,2018,10,Wednesday,20,Part One,CAMBRIDGE ST,42.359454,-71.059648,"(42.35945371, -71.05964817)"
4,I182080050,3122,Aircraft,AIRCRAFT INCIDENTS,A7,36,NaN,2018-10-03 20:49:00,2018,10,Wednesday,20,Part Three,PRESCOTT ST,42.375258,-71.024663,"(42.37525782, -71.02466343)"

# Feature Engineering

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327820 entries, 0 to 327819
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      327820 non-null  object
 1   OFFENSE_CODE         327820 non-null  int64
 2   OFFENSE_CODE_GROUP   327820 non-null  object
 3   OFFENSE_DESCRIPTION  327820 non-null  object
 4   DISTRICT             326046 non-null  object
 5   REPORTING_AREA       327820 non-null  object
 6   SHOOTING             1055 non-null    object
 7   OCCURRED_ON_DATE     327820 non-null  object
 8   YEAR                 327820 non-null  int64
 9   MONTH                327820 non-null  int64
 10  DAY_OF_WEEK          327820 non-null  object
 11  HOUR                 327820 non-null  int64
 12  UCR_PART             327727 non-null  object
 13  STREET               316843 non-null  object
 14  Lat                  307188 non-null  float64
 15  Long                 307188 non-null  float64
 16  Location             327820 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 42.5+ MB

In [63]:
#filling null values in shooting feature as '0' and replacing 'Y' values with '1'
df['SHOOTING']= df['SHOOTING'].fillna(value='0')
df['SHOOTING'] = df['SHOOTING'].replace('Y',1)
df

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182080058,2403,Disorderly Conduct,DISTURBING THE PEACE,E18,495,0,2018-10-03 20:13:00,2018,10,Wednesday,20,Part Two,ARLINGTON ST,42.262608,-71.121186,"(42.26260773, -71.12118637)"
1,I182080053,3201,Property Lost,PROPERTY - LOST,D14,795,0,2018-08-30 20:00:00,2018,8,Thursday,20,Part Three,ALLSTON ST,42.352111,-71.135311,"(42.35211146, -71.13531147)"
2,I182080052,2647,Other,THREATS TO DO BODILY HARM,B2,329,0,2018-10-03 19:20:00,2018,10,Wednesday,19,Part Two,DEVON ST,42.308126,-71.076930,"(42.30812619, -71.07692974)"
3,I182080051,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,A1,92,0,2018-10-03 20:00:00,2018,10,Wednesday,20,Part One,CAMBRIDGE ST,42.359454,-71.059648,"(42.35945371, -71.05964817)"
4,I182080050,3122,Aircraft,AIRCRAFT INCIDENTS,A7,36,0,2018-10-03 20:49:00,2018,10,Wednesday,20,Part Three,PRESCOTT ST,42.375258,-71.024663,"(42.37525782, -71.02466343)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327815,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,0,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
327816,I030217815-08,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,0,2015-07-09 13:38:00,2015,7,Thursday,13,Part One,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
327817,I030217815-08,3125,Warrant Arrests,WARRANT ARREST,E18,520,0,2015-07-09 13:38:00,2015,7,Thursday,13,Part Three,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
327818,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,0,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"
327819,142052550,3125,Warrant Arrests,WARRANT ARREST,D4,903,0,2015-06-22 00:12:00,2015,6,Monday,0,Part Three,WASHINGTON ST,42.333839,-71.080290,"(42.33383935, -71.08029038)"

In [64]:
#droping Nan values from Lat and Long 
#droping from Lat and Long with the values of '-1' --removing outliers
# it reduced the number of rows from 327.727 to 306.320
df = df.dropna(subset = ['Lat', 'Long'])
df = df[df['Lat'] > 0]
df

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182080058,2403,Disorderly Conduct,DISTURBING THE PEACE,E18,495,0,2018-10-03 20:13:00,2018,10,Wednesday,20,Part Two,ARLINGTON ST,42.262608,-71.121186,"(42.26260773, -71.12118637)"
1,I182080053,3201,Property Lost,PROPERTY - LOST,D14,795,0,2018-08-30 20:00:00,2018,8,Thursday,20,Part Three,ALLSTON ST,42.352111,-71.135311,"(42.35211146, -71.13531147)"
2,I182080052,2647,Other,THREATS TO DO BODILY HARM,B2,329,0,2018-10-03 19:20:00,2018,10,Wednesday,19,Part Two,DEVON ST,42.308126,-71.076930,"(42.30812619, -71.07692974)"
3,I182080051,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,A1,92,0,2018-10-03 20:00:00,2018,10,Wednesday,20,Part One,CAMBRIDGE ST,42.359454,-71.059648,"(42.35945371, -71.05964817)"
4,I182080050,3122,Aircraft,AIRCRAFT INCIDENTS,A7,36,0,2018-10-03 20:49:00,2018,10,Wednesday,20,Part Three,PRESCOTT ST,42.375258,-71.024663,"(42.37525782, -71.02466343)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327815,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,0,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
327816,I030217815-08,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,0,2015-07-09 13:38:00,2015,7,Thursday,13,Part One,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
327817,I030217815-08,3125,Warrant Arrests,WARRANT ARREST,E18,520,0,2015-07-09 13:38:00,2015,7,Thursday,13,Part Three,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
327818,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,0,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"
327819,142052550,3125,Warrant Arrests,WARRANT ARREST,D4,903,0,2015-06-22 00:12:00,2015,6,Monday,0,Part Three,WASHINGTON ST,42.333839,-71.080290,"(42.33383935, -71.08029038)"

In [65]:
df.describe()

,OFFENSE_CODE,YEAR,MONTH,HOUR,Lat,Long
count,306413.000000,306413.000000,306413.000000,306413.000000,306413.000000,306413.000000
mean,2296.613835,2016.591248,6.674469,13.122717,42.322292,-71.082841
std,1182.763063,1.013933,3.258638,6.277278,0.031859,0.029744
min,111.000000,2015.000000,1.000000,0.000000,42.232413,-71.178674
25%,802.000000,2016.000000,4.000000,9.000000,42.297555,-71.097189
50%,2907.000000,2017.000000,7.000000,14.000000,42.325646,-71.077550
75%,3201.000000,2017.000000,9.000000,18.000000,42.348624,-71.062563
max,3831.000000,2018.000000,12.000000,23.000000,42.395042,-70.963676

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306413 entries, 0 to 327819
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      306413 non-null  object
 1   OFFENSE_CODE         306413 non-null  int64
 2   OFFENSE_CODE_GROUP   306413 non-null  object
 3   OFFENSE_DESCRIPTION  306413 non-null  object
 4   DISTRICT             305542 non-null  object
 5   REPORTING_AREA       306413 non-null  object
 6   SHOOTING             306413 non-null  object
 7   OCCURRED_ON_DATE     306413 non-null  object
 8   YEAR                 306413 non-null  int64
 9   MONTH                306413 non-null  int64
 10  DAY_OF_WEEK          306413 non-null  object
 11  HOUR                 306413 non-null  int64
 12  UCR_PART             306320 non-null  object
 13  STREET               304631 non-null  object
 14  Lat                  306413 non-null  float64
 15  Long                 306413 non-null  float64
 16  Location             306413 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 42.1+ MB

In [67]:
#creating date_time format and drop occured_on_date column
df["OCCURRED_ON_DATE"]=pd.to_datetime(df["OCCURRED_ON_DATE"],infer_datetime_format=True)
df["OCCURRED_DAY"]=df["OCCURRED_ON_DATE"].apply(lambda x: x.date())
df = df.drop(['OCCURRED_ON_DATE'],axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306413 entries, 0 to 327819
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      306413 non-null  object
 1   OFFENSE_CODE         306413 non-null  int64
 2   OFFENSE_CODE_GROUP   306413 non-null  object
 3   OFFENSE_DESCRIPTION  306413 non-null  object
 4   DISTRICT             305542 non-null  object
 5   REPORTING_AREA       306413 non-null  object
 6   SHOOTING             306413 non-null  object
 7   YEAR                 306413 non-null  int64
 8   MONTH                306413 non-null  int64
 9   DAY_OF_WEEK          306413 non-null  object
 10  HOUR                 306413 non-null  int64
 11  UCR_PART             306320 non-null  object
 12  STREET               304631 non-null  object
 13  Lat                  306413 non-null  float64
 14  Long                 306413 non-null  float64
 15  Location             306413 non-null  object
 16  OCCURRED_DAY         306413 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 42.1+ MB

In [68]:
#for model 1 creating a dataframe which name is df_m_1, sorting the dates and drop na rows from DISTRICT feature
df_m_1 = df.copy()
df_m_1 = df_m_1.sort_values(by =['OCCURRED_DAY'], ascending=False)
df_m_1['OCCURRED_DAY']= pd.to_datetime(df_m_1['OCCURRED_DAY'])
df_m_1 = df_m_1.dropna(subset=['DISTRICT'])
df_m_1

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,OCCURRED_DAY
0,I182080058,2403,Disorderly Conduct,DISTURBING THE PEACE,E18,495,0,2018,10,Wednesday,20,Part Two,ARLINGTON ST,42.262608,-71.121186,"(42.26260773, -71.12118637)",2018-10-03
166,I182079875,3801,Motor Vehicle Accident Response,M/V ACCIDENT - OTHER,D14,783,0,2018,10,Wednesday,11,Part Three,COMMONWEALTH AVE,42.348886,-71.140074,"(42.34888559, -71.14007361)",2018-10-03
146,I182079895,3410,Towed,TOWED MOTOR VEHICLE,B2,237,0,2018,10,Wednesday,11,Part Three,EASTMAN ST,42.319860,-71.064341,"(42.31986040, -71.06434120)",2018-10-03
148,I182079893,1402,Vandalism,VANDALISM,C11,344,0,2018,10,Wednesday,12,Part Two,BOWDOIN ST,42.300308,-71.072064,"(42.30030819, -71.07206425)",2018-10-03
149,I182079892,1402,Vandalism,VANDALISM,C11,368,0,2018,10,Wednesday,7,Part Two,NEPONSET AVE,42.293836,-71.051574,"(42.29383600, -71.05157448)",2018-10-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327337,I152049637,802,Simple Assault,ASSAULT SIMPLE - BATTERY,C11,817,0,2015,6,Monday,15,Part Two,TALBOT AVE,42.288638,-71.066316,"(42.28863812, -71.06631579)",2015-06-15
327338,I152049635,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,B2,602,0,2015,6,Monday,14,Part Three,TREMONT ST,42.333669,-71.103335,"(42.33366866, -71.10333486)",2015-06-15
327339,I152049634,1842,Drug Violation,"DRUGS - POSS CLASS A - HEROIN, ETC.",E13,569,0,2015,6,Monday,15,Part Two,BROOKLEY RD,42.304816,-71.109118,"(42.30481623, -71.10911850)",2015-06-15
327340,I152049634,3125,Warrant Arrests,WARRANT ARREST,E13,569,0,2015,6,Monday,15,Part Three,BROOKLEY RD,42.304816,-71.109118,"(42.30481623, -71.10911850)",2015-06-15
327308,I152049683,522,Residential Burglary,BURGLARY - RESIDENTIAL - NO FORCE,E5,686,0,2015,6,Monday,17,Part One,COLBERG AVE,42.283113,-71.143922,"(42.28311294, -71.14392166)",2015-06-15

In [69]:
df_m_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 305542 entries, 0 to 327308
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      305542 non-null  object
 1   OFFENSE_CODE         305542 non-null  int64
 2   OFFENSE_CODE_GROUP   305542 non-null  object
 3   OFFENSE_DESCRIPTION  305542 non-null  object
 4   DISTRICT             305542 non-null  object
 5   REPORTING_AREA       305542 non-null  object
 6   SHOOTING             305542 non-null  object
 7   YEAR                 305542 non-null  int64
 8   MONTH                305542 non-null  int64
 9   DAY_OF_WEEK          305542 non-null  object
 10  HOUR                 305542 non-null  int64
 11  UCR_PART             305449 non-null  object
 12  STREET               304596 non-null  object
 13  Lat                  305542 non-null  float64
 14  Long                 305542 non-null  float64
 15  Location             305542 non-null  object
 16  OCCURRED_DAY         305542 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(10)
memory usage: 42.0+ MB

In [70]:
df['DAY_OF_WEEK'].value_counts()

Friday       46494
Wednesday    45059
Thursday     44677
Tuesday      44517
Monday       43919
Saturday     42873
Sunday       38874
Name: DAY_OF_WEEK, dtype: int64

In [71]:
# day_of_week label encoding

df_m_1['DAY_OF_WEEK'] = df_m_1['DAY_OF_WEEK'].map({
    'Tuesday':4, 
    'Saturday':2, 
    'Monday':3, 
    'Sunday':1, 
    'Thursday':5, 
    'Wednesday':6,
    'Friday':7
})
df_m_1

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,OCCURRED_DAY
0,I182080058,2403,Disorderly Conduct,DISTURBING THE PEACE,E18,495,0,2018,10,6,20,Part Two,ARLINGTON ST,42.262608,-71.121186,"(42.26260773, -71.12118637)",2018-10-03
166,I182079875,3801,Motor Vehicle Accident Response,M/V ACCIDENT - OTHER,D14,783,0,2018,10,6,11,Part Three,COMMONWEALTH AVE,42.348886,-71.140074,"(42.34888559, -71.14007361)",2018-10-03
146,I182079895,3410,Towed,TOWED MOTOR VEHICLE,B2,237,0,2018,10,6,11,Part Three,EASTMAN ST,42.319860,-71.064341,"(42.31986040, -71.06434120)",2018-10-03
148,I182079893,1402,Vandalism,VANDALISM,C11,344,0,2018,10,6,12,Part Two,BOWDOIN ST,42.300308,-71.072064,"(42.30030819, -71.07206425)",2018-10-03
149,I182079892,1402,Vandalism,VANDALISM,C11,368,0,2018,10,6,7,Part Two,NEPONSET AVE,42.293836,-71.051574,"(42.29383600, -71.05157448)",2018-10-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327337,I152049637,802,Simple Assault,ASSAULT SIMPLE - BATTERY,C11,817,0,2015,6,3,15,Part Two,TALBOT AVE,42.288638,-71.066316,"(42.28863812, -71.06631579)",2015-06-15
327338,I152049635,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,B2,602,0,2015,6,3,14,Part Three,TREMONT ST,42.333669,-71.103335,"(42.33366866, -71.10333486)",2015-06-15
327339,I152049634,1842,Drug Violation,"DRUGS - POSS CLASS A - HEROIN, ETC.",E13,569,0,2015,6,3,15,Part Two,BROOKLEY RD,42.304816,-71.109118,"(42.30481623, -71.10911850)",2015-06-15
327340,I152049634,3125,Warrant Arrests,WARRANT ARREST,E13,569,0,2015,6,3,15,Part Three,BROOKLEY RD,42.304816,-71.109118,"(42.30481623, -71.10911850)",2015-06-15
327308,I152049683,522,Residential Burglary,BURGLARY - RESIDENTIAL - NO FORCE,E5,686,0,2015,6,3,17,Part One,COLBERG AVE,42.283113,-71.143922,"(42.28311294, -71.14392166)",2015-06-15

In [72]:
# df_m_1['UCR_PART'] = df_m_1['UCR_PART'].map({
#     'Part One':3, 
#     'Part Two':2, 
#     'Part Three':1, 
#     'Other':0, 

# })
# df_m_1

In [73]:
# creating summer, HOUR_12_16_17_18_19, HOUR_3_4_5_6(least hours), RIVER | CENTRE (most occured streets), RA (most occured reporting areas) features which have the highest crime occured

df_m_1['Summer']=0
df_m_1['Summer']=df_m_1["MONTH"].apply(lambda x: 1 if x==6 or x==7 or x==8 or x==9 else 0)


df_m_1['HOUR_12_16_17_18_19']=0
df_m_1['HOUR_12_16_17_18_19']=df_m_1["HOUR"].apply(lambda x: 1 if x==12 or x==16 or x==17 or x==18 or x==19 else 0)
df_m_1

df_m_1['HOUR_3_4_5_6']=0
df_m_1['HOUR_3_4_5_6']=df_m_1["HOUR"].apply(lambda x: 1 if x==3 or x==4 or x==5 or x==6 else 0)
df_m_1

df_m_1['RIVER | CENTRE'] = 0
df_m_1['RIVER | CENTRE'] = df_m_1["STREET"].apply(lambda x: 0 if x=='RIVER ST' or x=='CENTRE ST' else 1)
df_m_1

df_m_1['RA'] = 0
df_m_1['RA'] = df_m_1["REPORTING_AREA"].apply(lambda x: 1 if x=='143' or x=='134' or x=='186' or x=='111' else 1)
df_m_1

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,YEAR,MONTH,DAY_OF_WEEK,...,STREET,Lat,Long,Location,OCCURRED_DAY,Summer,HOUR_12_16_17_18_19,HOUR_3_4_5_6,RIVER | CENTRE,RA
0,I182080058,2403,Disorderly Conduct,DISTURBING THE PEACE,E18,495,0,2018,10,6,...,ARLINGTON ST,42.262608,-71.121186,"(42.26260773, -71.12118637)",2018-10-03,0,0,0,1,1
166,I182079875,3801,Motor Vehicle Accident Response,M/V ACCIDENT - OTHER,D14,783,0,2018,10,6,...,COMMONWEALTH AVE,42.348886,-71.140074,"(42.34888559, -71.14007361)",2018-10-03,0,0,0,1,1
146,I182079895,3410,Towed,TOWED MOTOR VEHICLE,B2,237,0,2018,10,6,...,EASTMAN ST,42.319860,-71.064341,"(42.31986040, -71.06434120)",2018-10-03,0,0,0,1,1
148,I182079893,1402,Vandalism,VANDALISM,C11,344,0,2018,10,6,...,BOWDOIN ST,42.300308,-71.072064,"(42.30030819, -71.07206425)",2018-10-03,0,1,0,1,1
149,I182079892,1402,Vandalism,VANDALISM,C11,368,0,2018,10,6,...,NEPONSET AVE,42.293836,-71.051574,"(42.29383600, -71.05157448)",2018-10-03,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327337,I152049637,802,Simple Assault,ASSAULT SIMPLE - BATTERY,C11,817,0,2015,6,3,...,TALBOT AVE,42.288638,-71.066316,"(42.28863812, -71.06631579)",2015-06-15,1,0,0,1,1
327338,I152049635,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,B2,602,0,2015,6,3,...,TREMONT ST,42.333669,-71.103335,"(42.33366866, -71.10333486)",2015-06-15,1,0,0,1,1
327339,I152049634,1842,Drug Violation,"DRUGS - POSS CLASS A - HEROIN, ETC.",E13,569,0,2015,6,3,...,BROOKLEY RD,42.304816,-71.109118,"(42.30481623, -71.10911850)",2015-06-15,1,0,0,1,1
327340,I152049634,3125,Warrant Arrests,WARRANT ARREST,E13,569,0,2015,6,3,...,BROOKLEY RD,42.304816,-71.109118,"(42.30481623, -71.10911850)",2015-06-15,1,0,0,1,1
327308,I152049683,522,Residential Burglary,BURGLARY - RESIDENTIAL - NO FORCE,E5,686,0,2015,6,3,...,COLBERG AVE,42.283113,-71.143922,"(42.28311294, -71.14392166)",2015-06-15,1,1,0,1,1

In [74]:
#one-hot encoding for district and UCR_Part columns
def get_dummies(dataframe):
    
    #for DISTRICT column
    
#     DISTRICT = pd.get_dummies(dataframe.DISTRICT, prefix = 'DIS')
#     dataframe = pd.concat([dataframe,DISTRICT],axis = 1)
#     dataframe = dataframe.drop(['DISTRICT'],axis = 1)
    
    #for UCR PART column
    
    UCR_PART = pd.get_dummies(dataframe.UCR_PART, prefix = 'UCR')
    dataframe = pd.concat([dataframe,UCR_PART],axis = 1)
    dataframe = dataframe.drop(['UCR_PART'],axis = 1)
    
    return dataframe
df_m_1 =get_dummies(df_m_1)
df_m_1

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,YEAR,MONTH,DAY_OF_WEEK,...,OCCURRED_DAY,Summer,HOUR_12_16_17_18_19,HOUR_3_4_5_6,RIVER | CENTRE,RA,UCR_Other,UCR_Part One,UCR_Part Three,UCR_Part Two
0,I182080058,2403,Disorderly Conduct,DISTURBING THE PEACE,E18,495,0,2018,10,6,...,2018-10-03,0,0,0,1,1,0,0,0,1
166,I182079875,3801,Motor Vehicle Accident Response,M/V ACCIDENT - OTHER,D14,783,0,2018,10,6,...,2018-10-03,0,0,0,1,1,0,0,1,0
146,I182079895,3410,Towed,TOWED MOTOR VEHICLE,B2,237,0,2018,10,6,...,2018-10-03,0,0,0,1,1,0,0,1,0
148,I182079893,1402,Vandalism,VANDALISM,C11,344,0,2018,10,6,...,2018-10-03,0,1,0,1,1,0,0,0,1
149,I182079892,1402,Vandalism,VANDALISM,C11,368,0,2018,10,6,...,2018-10-03,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327337,I152049637,802,Simple Assault,ASSAULT SIMPLE - BATTERY,C11,817,0,2015,6,3,...,2015-06-15,1,0,0,1,1,0,0,0,1
327338,I152049635,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,B2,602,0,2015,6,3,...,2015-06-15,1,0,0,1,1,0,0,1,0
327339,I152049634,1842,Drug Violation,"DRUGS - POSS CLASS A - HEROIN, ETC.",E13,569,0,2015,6,3,...,2015-06-15,1,0,0,1,1,0,0,0,1
327340,I152049634,3125,Warrant Arrests,WARRANT ARREST,E13,569,0,2015,6,3,...,2015-06-15,1,0,0,1,1,0,0,1,0
327308,I152049683,522,Residential Burglary,BURGLARY - RESIDENTIAL - NO FORCE,E5,686,0,2015,6,3,...,2015-06-15,1,1,0,1,1,0,1,0,0

In [75]:
df_m_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 305542 entries, 0 to 327308
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      305542 non-null  object
 1   OFFENSE_CODE         305542 non-null  int64
 2   OFFENSE_CODE_GROUP   305542 non-null  object
 3   OFFENSE_DESCRIPTION  305542 non-null  object
 4   DISTRICT             305542 non-null  object
 5   REPORTING_AREA       305542 non-null  object
 6   SHOOTING             305542 non-null  object
 7   YEAR                 305542 non-null  int64
 8   MONTH                305542 non-null  int64
 9   DAY_OF_WEEK          305542 non-null  int64
 10  HOUR                 305542 non-null  int64
 11  STREET               304596 non-null  object
 12  Lat                  305542 non-null  float64
 13  Long                 305542 non-null  float64
 14  Location             305542 non-null  object
 15  OCCURRED_DAY         305542 non-null  datetime64[ns]
 16  Summer               305542 non-null  int64
 17  HOUR_12_16_17_18_19  305542 non-null  int64
 18  HOUR_3_4_5_6         305542 non-null  int64
 19  RIVER | CENTRE       305542 non-null  int64
 20  RA                   305542 non-null  int64
 21  UCR_Other            305542 non-null  uint8
 22  UCR_Part One         305542 non-null  uint8
 23  UCR_Part Three       305542 non-null  uint8
 24  UCR_Part Two         305542 non-null  uint8
dtypes: datetime64[ns](1), float64(2), int64(10), object(8), uint8(4)
memory usage: 52.4+ MB

In [76]:
df_m_1

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,YEAR,MONTH,DAY_OF_WEEK,...,OCCURRED_DAY,Summer,HOUR_12_16_17_18_19,HOUR_3_4_5_6,RIVER | CENTRE,RA,UCR_Other,UCR_Part One,UCR_Part Three,UCR_Part Two
0,I182080058,2403,Disorderly Conduct,DISTURBING THE PEACE,E18,495,0,2018,10,6,...,2018-10-03,0,0,0,1,1,0,0,0,1
166,I182079875,3801,Motor Vehicle Accident Response,M/V ACCIDENT - OTHER,D14,783,0,2018,10,6,...,2018-10-03,0,0,0,1,1,0,0,1,0
146,I182079895,3410,Towed,TOWED MOTOR VEHICLE,B2,237,0,2018,10,6,...,2018-10-03,0,0,0,1,1,0,0,1,0
148,I182079893,1402,Vandalism,VANDALISM,C11,344,0,2018,10,6,...,2018-10-03,0,1,0,1,1,0,0,0,1
149,I182079892,1402,Vandalism,VANDALISM,C11,368,0,2018,10,6,...,2018-10-03,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327337,I152049637,802,Simple Assault,ASSAULT SIMPLE - BATTERY,C11,817,0,2015,6,3,...,2015-06-15,1,0,0,1,1,0,0,0,1
327338,I152049635,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,B2,602,0,2015,6,3,...,2015-06-15,1,0,0,1,1,0,0,1,0
327339,I152049634,1842,Drug Violation,"DRUGS - POSS CLASS A - HEROIN, ETC.",E13,569,0,2015,6,3,...,2015-06-15,1,0,0,1,1,0,0,0,1
327340,I152049634,3125,Warrant Arrests,WARRANT ARREST,E13,569,0,2015,6,3,...,2015-06-15,1,0,0,1,1,0,0,1,0
327308,I152049683,522,Residential Burglary,BURGLARY - RESIDENTIAL - NO FORCE,E5,686,0,2015,6,3,...,2015-06-15,1,1,0,1,1,0,1,0,0

In [77]:
#label encoding for district column

df_m_1['DISTRICT'] = df_m_1['DISTRICT'].map({
    'B3':1, 
    'E18':2, 
    'B2':3, 
    'E5':4, 
    'C6':5, 
    'D14':6, 
    'E13':7, 
    'C11':8, 
    'D4':9, 
    'A7':10, 
    'A1':11, 
    'A15':12
})

df_m_1

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,YEAR,MONTH,DAY_OF_WEEK,...,OCCURRED_DAY,Summer,HOUR_12_16_17_18_19,HOUR_3_4_5_6,RIVER | CENTRE,RA,UCR_Other,UCR_Part One,UCR_Part Three,UCR_Part Two
0,I182080058,2403,Disorderly Conduct,DISTURBING THE PEACE,2,495,0,2018,10,6,...,2018-10-03,0,0,0,1,1,0,0,0,1
166,I182079875,3801,Motor Vehicle Accident Response,M/V ACCIDENT - OTHER,6,783,0,2018,10,6,...,2018-10-03,0,0,0,1,1,0,0,1,0
146,I182079895,3410,Towed,TOWED MOTOR VEHICLE,3,237,0,2018,10,6,...,2018-10-03,0,0,0,1,1,0,0,1,0
148,I182079893,1402,Vandalism,VANDALISM,8,344,0,2018,10,6,...,2018-10-03,0,1,0,1,1,0,0,0,1
149,I182079892,1402,Vandalism,VANDALISM,8,368,0,2018,10,6,...,2018-10-03,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327337,I152049637,802,Simple Assault,ASSAULT SIMPLE - BATTERY,8,817,0,2015,6,3,...,2015-06-15,1,0,0,1,1,0,0,0,1
327338,I152049635,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,3,602,0,2015,6,3,...,2015-06-15,1,0,0,1,1,0,0,1,0
327339,I152049634,1842,Drug Violation,"DRUGS - POSS CLASS A - HEROIN, ETC.",7,569,0,2015,6,3,...,2015-06-15,1,0,0,1,1,0,0,0,1
327340,I152049634,3125,Warrant Arrests,WARRANT ARREST,7,569,0,2015,6,3,...,2015-06-15,1,0,0,1,1,0,0,1,0
327308,I152049683,522,Residential Burglary,BURGLARY - RESIDENTIAL - NO FORCE,4,686,0,2015,6,3,...,2015-06-15,1,1,0,1,1,0,1,0,0

In [78]:
from sklearn.preprocessing import StandardScaler

In [79]:
#train set split with the rate of 0.8 from sorted dataset and selecting specific features for my model
train_set = df_m_1[['Lat','Long','MONTH','HOUR', 'DISTRICT','UCR_Part One']].head((int(len(df_m_1))-(int(len(df_m_1) *0.8))))
train_set

             Lat       Long  MONTH  HOUR  DISTRICT  UCR_Part One
0      42.262608 -71.121186     10    20         2             0
166    42.348886 -71.140074     10    11         6             0
146    42.319860 -71.064341     10    11         3             0
148    42.300308 -71.072064     10    12         8             0
149    42.293836 -71.051574     10     7         8             0
...          ...        ...    ...   ...       ...           ...
66575  42.380208 -71.034936      2     4        10             0
66576  42.293440 -71.047585      2     4         8             0
66577  42.352757 -71.082402      2     3         9             1
66578  42.300202 -71.078354      2     3         1             0
66579  42.294516 -71.058754      2     2         8             0

[61109 rows x 6 columns]

### train and validation set control for independency

In [80]:
index_control_train =train_set.reset_index()
index_control_train

       index        Lat       Long  MONTH  HOUR  DISTRICT  UCR_Part One
0          0  42.262608 -71.121186     10    20         2             0
1        166  42.348886 -71.140074     10    11         6             0
2        146  42.319860 -71.064341     10    11         3             0
3        148  42.300308 -71.072064     10    12         8             0
4        149  42.293836 -71.051574     10     7         8             0
...      ...        ...        ...    ...   ...       ...           ...
61104  66575  42.380208 -71.034936      2     4        10             0
61105  66576  42.293440 -71.047585      2     4         8             0
61106  66577  42.352757 -71.082402      2     3         9             1
61107  66578  42.300202 -71.078354      2     3         1             0
61108  66579  42.294516 -71.058754      2     2         8             0

[61109 rows x 7 columns]

In [81]:
liste1 =[]

for x in index_control_train['index']:
    liste1.append(x)

liste1

[0,
 166,
 146,
 148,
 149,
 153,
 154,
 155,
 156,
 157,
 158,
 161,
 165,
 167,
 182,
 168,
 170,
 171,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 145,
 144,
 143,
 142,
 114,
 115,
 116,
 117,
 119,
 120,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 137,
 138,
 139,
 140,
 141,
 181,
 183,
 112,
 242,
 224,
 225,
 226,
 230,
 231,
 232,
 236,
 238,
 239,
 240,
 241,
 243,
 184,
 244,
 245,
 246,
 249,
 252,
 253,
 254,
 255,
 257,
 258,
 259,
 222,
 221,
 217,
 215,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 196,
 197,
 198,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 209,
 210,
 211,
 212,
 213,
 214,
 113,
 163,
 111,
 50,
 53,
 22,
 21,
 54,
 58,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 19,
 68,
 18,
 16,
 14,
 51,
 73,
 29,
 30,
 31,
 32,
 33,
 34,
 27,
 36,
 38,
 39,
 40,
 41,
 42,
 24,
 45,
 23,
 47,
 13,
 17,
 12,
 7,
 104,
 103,
 2,
 8,
 102,
 91,
 98,
 101,
 4,
 100,
 3,
 95,
 96,
 97,
 86,
 85,
 107,
 74,
 75,
 76,
 77,
 78,
 108,
 79,
 10,
 81,
 106,
 82,
 83,
 9,
 99,
 419,
 392,
 420,
 397,
 393,
 395,
 417,
 412,
 398,
 416,
 415,
 399,
 400,
 402,
 413,
 405,
 407,
 390,
 391,
 376,
 389,
 359,
 354,
 353,
 352,
 351,
 350,
 349,
 348,
 347,
 345,
 344,
 343,
 341,
 339,
 338,
 336,
 335,
 334,
 357,
 360,
 388,
 361,
 384,
 382,
 381,
 380,
 379,
 378,
 377,
 423,
 375,
 374,
 372,
 371,
 367,
 366,
 365,
 364,
 363,
 421,
 446,
 428,
 458,
 493,
 491,
 460,
 490,
 461,
 489,
 488,
 487,
 462,
 329,
 463,
 464,
 465,
 466,
 467,
 485,
 484,
 481,
 480,
 468,
 469,
 479,
 478,
 476,
 470,
 471,
 475,
 494,
 457,
 430,
 456,
 431,
 507,
 432,
 434,
 435,
 504,
 436,
 437,
 439,
 440,
 503,
 441,
 442,
 443,
 502,
 445,
 474,
 448,
 501,
 500,
 451,
 498,
 453,
 454,
 497,
 455,
 496,
 333,
 286,
 186,
 269,
 250,
 251,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 270,
 235,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 247,
 234,
 284,
 152,
 20,
 37,
 46,
 55,
 59,
 67,
 87,
 93,
 94,
 118,
 122,
 159,
 233,
 160,
 162,
 164,
 185,
 187,
 195,
 199,
 208,
 218,
 227,
 228,
 283,
 5,
 285,
 312,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 307,
 309,
 311,
 313,
 296,
 315,
 316,
 318,
 319,
 320,
 322,
 323,
 325,
 326,
 327,
 328,
 297,
 310,
 291,
 294,
 288,
 289,
 290,
 292,
 293,
 287,
 295,
 694,
 677,
 676,
 614,
 698,
 675,
 596,
 674,
 593,
 673,
 670,
 669,
 613,
 597,
 666,
 699,
 678,
 679,
 680,
 688,
 618,
 695,
 616,
 691,
 697,
 620,
 615,
 621,
 594,
 687,
 684,
 683,
 662,
 682,
 702,
 604,
 661,
 641,
 606,
 627,
 105334,
 628,
 643,
 607,
 629,
 626,
 639,
 637,
 636,
 633,
 612,
 632,
 646,
 105333,
 601,
 605,
 611,
 622,
 660,
 658,
 657,
 656,
 624,
 649,
 655,
 625,
 653,
 651,
 619,
 650,
 631,
 763,
 703,
 802,
 740,
 738,
 737,
 735,
 734,
 733,
 732,
 730,
 729,
 728,
 727,
 726,
 724,
 723,
 722,
 741,
 766,
 742,
 765,
 758,
 757,
 756,
 754,
 764,
 753,
 752,
 745,
 751,
 750,
 749,
 748,
 591,
 747,
 767,
 721,
 768,
 793,
 788,
 789,
 707,
 706,
 790,
 792,
 794,
 708,
 795,
 796,
 704,
 797,
 798,
 799,
 786,
 785,
 715,
 711,
 770,
 773,
 714,
 712,
 775,
 759,
 777,
 784,
 778,
 780,
 782,
 783,
 710,
 709,
 592,
 535,
 223,
 539,
 531,
 532,
 533,
 109,
 534,
 386,
 427,
 72,
 537,
 538,
 540,
 525,
 541,
 542,
 425,
 340,
 544,
 52,
 473,
 546,
 547,
 548,
 530,
 330,
 549,
 512,
 472,
 483,
 505,
 506,
 219,
 508,
 509,
 510,
 47248,
 511,
 172,
 522,
 514,
 169,
 515,
 516,
 444,
 47247,
 517,
 519,
 136,
 521,
 422,
 545,
 418,
 373,
 550,
 571,
 404,
 52992,
 573,
 574,
 575,
 576,
 577,
 578,
 368,
 579,
 566,
 580,
 581,
 582,
 583,
 589,
 383,
 584,
 585,
 387,
 586,
 588,
 569,
 570,
 557,
 406,
 551,
 552,
 553,
 11,
 554,
 52993,
 409,
 565,
 558,
 559,
 477,
 560,
 564,
 562,
 561,
 563,
 861,
 864,
 874,
 859,
 860,
 870,
 871,
 865,
 980,
 866,
 863,
 862,
 867,
 869,
 868,
 873,
 846,
 858,
 829,
 835,
 834,
 833,
 832,
 831,
 830,
 828,
 857,
 827,
 826,
 825,
 823,
 822,
 821,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 844,
 845,
 847,
 982,
 849,
 850,
 852,
 853,
 981,
 875,
 909,
 876,
 930,
 938,
 966,
 936,
 935,
 934,
 932,
 929,
 970,
 967,
 927,
 926,
 925,
 923,
 922,
 939,
 940,
 941,
 942,
 943,
 965,
 946,
 947,
 949,
 951,
 952,
 953,
 954,
 955,
 956,
 958,
 959,
 969,
 919,
 877,
 889,
 898,
 975,
 895,
 893,
 891,
 890,
 888,
 918,
 977,
 886,
 881,
 880,
 978,
 979,
 899,
 974,
 973,
 902,
 904,
 905,
 906,
 907,
 908,
 819,
 971,
 912,
 913,
 914,
 915,
 916,
 917,
 820,
 824,
 818,
 739,
 394,
 1019,
 1018,
 746,
 1014,
 1010,
 1009,
 337,
 1008,
 1007,
 760,
 1006,
 1005,
 1004,
 314,
 1022,
 1023,
 237,
 1024,
 595,
 608,
 634,
 556,
 671,
 523,
 693,
 482,
 449,
 716,
 717,
 718,
 725,
 817,
 411,
 1003,
 960,
 1002,
 811,
 35,
 769,
 983,
 812,
 800,
 803,
 815,
 804,
 986,
 805,
 806,
 808,
 809,
 814,
 810,
 813,
 985,
 984,
 987,
 1001,
 999,
 998,
 996,
 995,
 791,
 1000,
 994,
 787,
 816,
 771,
 993,
 992,
 991,
 1097,
 1105,
 1096,
 1099,
 1098,
 1100,
 1101,
 1104,
 1103,
 1094,
 1085,
 1093,
 1092,
 1090,
 1150,
 1089,
 1151,
 1086,
 1107,
 1084,
 1083,
 1082,
 1152,
 1081,
 1106,
 1127,
 1108,
 1109,
 1154,
 1145,
 1143,
 1142,
 1141,
 1138,
 1146,
 1137,
 1136,
 1135,
 1134,
 1133,
 1132,
 1130,
 1129,
 1147,
 1128,
 1125,
 1124,
 1122,
 1116,
 1115,
 1114,
 1112,
 1111,
 1148,
 1110,
 1140,
 1235,
 1155,
 1242,
 1211,
 1210,
 1241,
 1209,
 1208,
 1203,
 1202,
 1201,
 1200,
 1199,
 1198,
 1250,
 1243,
 1244,
 1197,
 1196,
 1245,
 1246,
 1247,
 1248,
 1249,
 1195,
 1078,
 1212,
 1213,
 1240,
 1237,
 1234,
 1233,
 1232,
 1231,
 1238,
 1230,
 1229,
 1228,
 1227,
 1226,
 1225,
 1224,
 1223,
 1222,
 1221,
 1239,
 1220,
 1219,
 1218,
 1217,
 1193,
 1251,
 1157,
 1174,
 1280,
 1281,
 1282,
 1182,
 1181,
 1179,
 1178,
 1177,
 1176,
 1175,
 1173,
 1192,
 1171,
 1169,
 1167,
 1166,
 1165,
 1164,
 1162,
 1161,
 1160,
 1159,
 1279,
 1277,
 1276,
 1274,
 1191,
 1253,
 1255,
 1256,
 1257,
 1190,
 1258,
 1259,
 1188,
 1187,
 1260,
 1262,
 1263,
 1186,
 1185,
 1184,
 1183,
 1264,
 1265,
 1267,
 1273,
 1080,
 1095,
 1077,
 1027,
 961,
 962,
 968,
 ...]

In [82]:
#validation set split with the rate of 0.2 from sorted dataset and selecting specific features for my model
validation_set = df_m_1.tail(int(len(df_m_1) *0.2))[['Lat','Long','MONTH','HOUR','DISTRICT','UCR_Part One']]
groundTruth= validation_set['UCR_Part One'].to_frame()
validation_set= validation_set.drop('UCR_Part One', axis=1)
validation_set

              Lat       Long  MONTH  HOUR  DISTRICT
264396  42.305407 -71.065471      2    12         8
264394  42.321045 -71.092820      2    13         3
264393  42.362403 -71.069547      2    13        11
264485  42.319047 -71.094000      2     5         3
264174  42.297690 -71.060910      2    19         8
...           ...        ...    ...   ...       ...
327337  42.288638 -71.066316      6    15         8
327338  42.333669 -71.103335      6    14         3
327339  42.304816 -71.109118      6    15         7
327340  42.304816 -71.109118      6    15         7
327308  42.283113 -71.143922      6    17         4

[61108 rows x 5 columns]

In [83]:
index_control_valid = validation_set.reset_index()
index_control_valid

        index        Lat       Long  MONTH  HOUR  DISTRICT
0      264396  42.305407 -71.065471      2    12         8
1      264394  42.321045 -71.092820      2    13         3
2      264393  42.362403 -71.069547      2    13        11
3      264485  42.319047 -71.094000      2     5         3
4      264174  42.297690 -71.060910      2    19         8
...       ...        ...        ...    ...   ...       ...
61103  327337  42.288638 -71.066316      6    15         8
61104  327338  42.333669 -71.103335      6    14         3
61105  327339  42.304816 -71.109118      6    15         7
61106  327340  42.304816 -71.109118      6    15         7
61107  327308  42.283113 -71.143922      6    17         4

[61108 rows x 6 columns]

In [84]:
liste2 =[]

for y in index_control_valid['index']:
    liste2.append(y)
liste2

[264396,
 264394,
 264393,
 264485,
 264174,
 270065,
 263027,
 262707,
 263569,
 261007,
 261008,
 270066,
 262778,
 259166,
 263007,
 262549,
 260850,
 222856,
 222855,
 263946,
 263945,
 264553,
 264560,
 264561,
 264562,
 264558,
 264557,
 264563,
 264556,
 264753,
 264546,
 264552,
 264551,
 264550,
 264549,
 264565,
 264545,
 264544,
 264543,
 264542,
 264541,
 264539,
 264564,
 264571,
 264566,
 264580,
 264593,
 264592,
 264591,
 264589,
 264588,
 264587,
 264585,
 264584,
 264583,
 264582,
 264581,
 264579,
 264567,
 264578,
 264577,
 264576,
 264575,
 264574,
 264573,
 264572,
 264537,
 264570,
 264569,
 264568,
 264538,
 264530,
 264536,
 264459,
 264503,
 264495,
 264494,
 264492,
 264487,
 264482,
 264479,
 264475,
 264474,
 264469,
 262206,
 264444,
 264535,
 264443,
 261596,
 264429,
 264425,
 264408,
 264406,
 264395,
 261510,
 264377,
 264372,
 252442,
 264505,
 264506,
 264508,
 264509,
 264533,
 264532,
 264531,
 264597,
 264529,
 264528,
 264527,
 264526,
 264525,
 264523,
 264522,
 264521,
 264520,
 264519,
 264518,
 264517,
 264516,
 264515,
 264514,
 264513,
 264512,
 264511,
 264510,
 264594,
 264601,
 264598,
 264672,
 264713,
 264711,
 264709,
 264708,
 264707,
 264704,
 264702,
 264701,
 264700,
 264698,
 264697,
 264695,
 264694,
 264693,
 264691,
 264684,
 264683,
 264682,
 264681,
 264680,
 264679,
 264678,
 264677,
 264676,
 264674,
 264714,
 264718,
 264719,
 264738,
 264759,
 264757,
 264756,
 264754,
 264751,
 264748,
 264747,
 264746,
 264742,
 264741,
 264740,
 264736,
 264721,
 264735,
 264734,
 264731,
 264729,
 264728,
 264727,
 264726,
 264725,
 264724,
 264723,
 264722,
 264673,
 264671,
 264599,
 264670,
 264636,
 264633,
 264632,
 264631,
 264630,
 264626,
 264625,
 264624,
 264620,
 264618,
 264617,
 264615,
 264614,
 264613,
 264612,
 264610,
 264608,
 264607,
 264606,
 264605,
 264604,
 264603,
 264602,
 251991,
 264600,
 264637,
 264639,
 264640,
 264655,
 264669,
 264668,
 264667,
 264666,
 264665,
 264663,
 264662,
 264660,
 264659,
 264658,
 264656,
 264654,
 264642,
 264653,
 264652,
 264651,
 264650,
 264649,
 264648,
 264647,
 264646,
 264645,
 264644,
 264643,
 251992,
 264559,
 263231,
 260676,
 249199,
 261296,
 248562,
 248560,
 213298,
 264065,
 263856,
 263694,
 264076,
 263493,
 263398,
 235238,
 260666,
 263329,
 260610,
 260611,
 260609,
 264818,
 264832,
 264842,
 264841,
 264840,
 264890,
 264839,
 264838,
 264837,
 264836,
 264835,
 264548,
 264891,
 264834,
 264833,
 264831,
 264819,
 264830,
 264844,
 264829,
 264817,
 264828,
 264827,
 264826,
 264825,
 264824,
 264892,
 264823,
 264822,
 264820,
 264843,
 264846,
 264845,
 264866,
 262804,
 262805,
 264883,
 264886,
 264879,
 264878,
 264877,
 264888,
 264876,
 264874,
 264870,
 264869,
 264868,
 264867,
 264864,
 264880,
 264889,
 264862,
 264860,
 264859,
 264858,
 264857,
 264856,
 264816,
 264854,
 264852,
 264851,
 264850,
 264848,
 264847,
 264855,
 264882,
 264815,
 264764,
 264634,
 264758,
 264760,
 264762,
 264763,
 263281,
 264766,
 264773,
 264767,
 264768,
 264769,
 264770,
 264616,
 264771,
 264070,
 264638,
 263738,
 264743,
 263579,
 264733,
 264732,
 264720,
 264716,
 264715,
 264657,
 264144,
 264712,
 264706,
 260597,
 259367,
 261151,
 264772,
 264774,
 264814,
 264807,
 264797,
 264799,
 264800,
 264801,
 264802,
 264804,
 264808,
 264775,
 264809,
 264810,
 264811,
 262767,
 264812,
 264813,
 264796,
 264795,
 264794,
 264791,
 264595,
 264790,
 264789,
 257668,
 264788,
 264787,
 264188,
 264786,
 264784,
 264782,
 264780,
 264779,
 264778,
 264893,
 264125,
 262735,
 264953,
 264967,
 264966,
 264964,
 264962,
 264960,
 264959,
 264957,
 264417,
 264956,
 264955,
 264952,
 264971,
 264951,
 264950,
 264949,
 264948,
 264946,
 264941,
 264940,
 264939,
 264937,
 264936,
 264970,
 264894,
 264934,
 264990,
 264349,
 265000,
 264998,
 264997,
 264996,
 264995,
 264994,
 264993,
 264992,
 264991,
 264989,
 264976,
 264988,
 264987,
 264986,
 264985,
 264984,
 264982,
 264981,
 264980,
 264979,
 264978,
 264935,
 264973,
 264900,
 264921,
 264898,
 264899,
 264932,
 264916,
 264895,
 264901,
 264902,
 264462,
 264914,
 264904,
 262966,
 264913,
 264907,
 264912,
 264911,
 264908,
 264909,
 264896,
 264920,
 264927,
 264923,
 264931,
 264929,
 264447,
 264922,
 264925,
 264910,
 264454,
 264453,
 265081,
 265079,
 265028,
 265017,
 265018,
 265019,
 265020,
 265082,
 265021,
 265022,
 263672,
 265024,
 265027,
 265023,
 265026,
 265025,
 265033,
 265029,
 265042,
 265053,
 259958,
 265088,
 265047,
 265087,
 265046,
 260432,
 261122,
 265086,
 265055,
 265044,
 265043,
 265041,
 265057,
 265085,
 265040,
 265039,
 265038,
 265037,
 265036,
 265035,
 265056,
 265014,
 265032,
 265031,
 265083,
 265015,
 265064,
 265013,
 264958,
 264865,
 264968,
 264915,
 264863,
 265060,
 265061,
 265067,
 265062,
 264861,
 265075,
 265059,
 264954,
 264853,
 264926,
 265066,
 264947,
 264849,
 265063,
 265065,
 264938,
 264972,
 264975,
 265012,
 264781,
 265011,
 265010,
 265009,
 265008,
 265005,
 265004,
 265003,
 265002,
 265001,
 264887,
 265076,
 265072,
 259601,
 265070,
 265068,
 264983,
 265073,
 264798,
 265074,
 265058,
 265089,
 265051,
 265152,
 265130,
 265094,
 265093,
 265160,
 265162,
 265133,
 265132,
 265131,
 265165,
 265167,
 239335,
 264315,
 265129,
 265128,
 264386,
 265092,
 237209,
 263296,
 265125,
 265123,
 265139,
 265135,
 265158,
 265157,
 265156,
 265141,
 265138,
 265142,
 265137,
 265143,
 265144,
 265145,
 265146,
 265148,
 106397,
 265149,
 265150,
 265095,
 265151,
 264412,
 265136,
 265153,
 265154,
 265155,
 265121,
 265122,
 265120,
 265113,
 265100,
 265101,
 265103,
 265104,
 262945,
 264664,
 265109,
 265091,
 252044,
 265097,
 265110,
 265111,
 265112,
 265140,
 265115,
 265117,
 265118,
 265052,
 265228,
 265119,
 265243,
 264917,
 265071,
 265255,
 264502,
 265256,
 265258,
 265257,
 265252,
 265099,
 265259,
 265261,
 265263,
 265265,
 265241,
 265250,
 265124,
 265251,
 264924,
 265248,
 264897,
 265247,
 265242,
 265126,
 264919,
 265134,
 265245,
 265244,
 265127,
 265238,
 265240,
 265246,
 265262,
 265237,
 264344,
 265193,
 265194,
 265195,
 265196,
 265197,
 265198,
 265227,
 265226,
 265199,
 265200,
 265201,
 265202,
 265203,
 265204,
 265205,
 265191,
 265206,
 265207,
 265208,
 265210,
 265211,
 265213,
 265214,
 265215,
 265216,
 265219,
 265221,
 265222,
 265223,
 265050,
 265192,
 265190,
 265236,
 265173,
 255502,
 265267,
 265159,
 265161,
 265163,
 265164,
 265232,
 265166,
 265168,
 265169,
 265170,
 265171,
 265231,
 265172,
 265175,
 265189,
 265176,
 265177,
 265178,
 265179,
 265230,
 265180,
 265181,
 265184,
 265185,
 265186,
 265187,
 265006,
 265007,
 265188,
 265266,
 265225,
 265340,
 265344,
 265343,
 265342,
 265341,
 265269,
 265339,
 263267,
 265338,
 265337,
 265336,
 264783,
 265335,
 265334,
 265333,
 265332,
 265331,
 265330,
 265329,
 265378,
 265327,
 265326,
 265325,
 265379,
 265380,
 265323,
 265322,
 265381,
 265320,
 265375,
 265372,
 265318,
 265345,
 265365,
 263300,
 265366,
 265362,
 265361,
 265410,
 263588,
 265360,
 265359,
 265358,
 265357,
 265356,
 265411,
 265367,
 265369,
 265355,
 265354,
 265370,
 265353,
 265371,
 265352,
 265351,
 265350,
 265349,
 265347,
 265346,
 264619,
 265319,
 265321,
 265317,
 264686,
 265294,
 265293,
 265394,
 265271,
 265290,
 265289,
 265288,
 265098,
 265287,
 265224,
 265295,
 265272,
 265273,
 265274,
 265275,
 265284,
 265283,
 265282,
 265276,
 265280,
 265279,
 265278,
 265297,
 265305,
 265315,
 265314,
 265313,
 265312,
 265382,
 265310,
 265309,
 265270,
 265306,
 265304,
 265302,
 265301,
 265300,
 265299,
 265298,
 265054,
 265400,
 265401,
 265402,
 265084,
 265388,
 265443,
 265389,
 265399,
 265392,
 265390,
 265393,
 265364,
 265396,
 265395,
 265383,
 265384,
 265377,
 265436,
 265212,
 265368,
 265397,
 265398,
 265385,
 265217,
 265218,
 265391,
 265220,
 265403,
 265428,
 265404,
 265286,
 265421,
 265422,
 265116,
 265447,
 265424,
 265425,
 265108,
 265431,
 265107,
 265440,
 265405,
 265441,
 265285,
 265426,
 265430,
 265102,
 265427,
 265260,
 265387,
 265429,
 265308,
 265420,
 265316,
 265446,
 265406,
 265407,
 265437,
 265438,
 265408,
 265363,
 265409,
 265412,
 265444,
 265413,
 265415,
 265416,
 265445,
 265435,
 265432,
 265439,
 265328,
 265419,
 265442,
 265386,
 265510,
 265448,
 265493,
 265527,
 265504,
 265573,
 265574,
 265505,
 265575,
 265418,
 265622,
 265621,
 265620,
 265526,
 265619,
 265618,
 265617,
 265614,
 265613,
 265611,
 265609,
 265608,
 231045,
 265572,
 224828,
 265498,
 265495,
 265496,
 265528,
 265564,
 265565,
 265497,
 265566,
 265567,
 265568,
 265503,
 265569,
 265570,
 265499,
 265449,
 265571,
 265500,
 265501,
 265502,
 265525,
 265607,
 265605,
 265519,
 265581,
 265580,
 265579,
 265578,
 265577,
 265523,
 265521,
 265520,
 265517,
 265584,
 265516,
 265515,
 261019,
 265509,
 263741,
 265514,
 265513,
 265512,
 265582,
 265585,
 265604,
 265595,
 265603,
 265601,
 265600,
 265599,
 265598,
 265508,
 265597,
 ...]

### checking the independency between train and validation set

In [85]:
set(liste1)&set(liste2)

set()

In [86]:
groundTruth

        UCR_Part One
264396             0
264394             0
264393             0
264485             0
264174             0
...              ...
327337             0
327338             0
327339             0
327340             0
327308             1

[61108 rows x 1 columns]

In [87]:
## scaling try for the model
# scaler = StandardScaler()
# scaled_validation_set = scaler.fit_transform(validation_set)
# scaled_validation_set = pd.DataFrame(data=scaled_validation_set, columns=['Summer','HOUR_12_16_17_18_19','DIS_A7','DIS_B2','DIS_B3', 'DIS_C11', 'DIS_C6', 'DIS_D14', 'DIS_D4', 'DIS_E13', 'DIS_E18', 'DIS_E5', 'UCR_Part One'])
# scaled_validation_set = scaled_validation_set.drop('UCR_Part One', axis=1)
# scaled_validation_set

In [88]:
#import necessary libraries for machine learning models
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.tree import ExtraTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.semi_supervised import LabelSpreading
from sklearn.svm import LinearSVC
from sklearn.neighbors.nearest_centroid import NearestCentroid
from sklearn.ensemble import RandomForestClassifier
from lightgbm import LGBMClassifier

In [89]:
# defining function for getting the classification metrics easily
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

def classification_metrics(y_test, predict):
    print("Confusion Matrix:\n")
    print(confusion_matrix(y_test, predict))
    print("\nAccuracy: ", accuracy_score(y_test, predict))
    print("\nClassification report:\n")
    print(classification_report(y_test, predict))

In [90]:
train_set

             Lat       Long  MONTH  HOUR  DISTRICT  UCR_Part One
0      42.262608 -71.121186     10    20         2             0
166    42.348886 -71.140074     10    11         6             0
146    42.319860 -71.064341     10    11         3             0
148    42.300308 -71.072064     10    12         8             0
149    42.293836 -71.051574     10     7         8             0
...          ...        ...    ...   ...       ...           ...
66575  42.380208 -71.034936      2     4        10             0
66576  42.293440 -71.047585      2     4         8             0
66577  42.352757 -71.082402      2     3         9             1
66578  42.300202 -71.078354      2     3         1             0
66579  42.294516 -71.058754      2     2         8             0

[61109 rows x 6 columns]

In [91]:
# scaler = StandardScaler()
# train_scaled = scaler.fit_transform(train_set)
# train_scaled = pd.DataFrame(data=train_scaled, columns=['Summer','HOUR_12_16_17_18_19','DIS_A7','DIS_B2','DIS_B3', 'DIS_C11', 'DIS_C6', 'DIS_D14', 'DIS_D4', 'DIS_E13', 'DIS_E18', 'DIS_E5', 'UCR_Part One'])
# train_scaled

In [92]:
# train and test split from train_set (0.8) 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(train_set.drop(columns=["UCR_Part One"]), train_set["UCR_Part One"], random_state = 0, test_size = 0.3, train_size=0.7)

In [93]:
x_train

             Lat       Long  MONTH  HOUR  DISTRICT
51816  42.318759 -71.102122      4    10         7
17123  42.317147 -71.113298      7     7         7
28867  42.296662 -71.061218      6    10         8
55858  42.348357 -71.136453      3    17         6
26759  42.323391 -71.095475      6     7         3
...          ...        ...    ...   ...       ...
50089  42.284826 -71.091374      4    21         1
57195  42.369081 -71.040216      3     8        10
46505  42.378649 -71.059513      4    11        12
47497  42.314688 -71.098435      4    15         7
3151   42.358427 -71.068900      9    13        11

[42776 rows x 5 columns]

In [94]:
y_train

51816    0
17123    0
28867    1
55858    0
26759    0
        ..
50089    0
57195    0
46505    0
47497    0
3151     0
Name: UCR_Part One, Length: 42776, dtype: uint8

In [95]:
x_train

             Lat       Long  MONTH  HOUR  DISTRICT
51816  42.318759 -71.102122      4    10         7
17123  42.317147 -71.113298      7     7         7
28867  42.296662 -71.061218      6    10         8
55858  42.348357 -71.136453      3    17         6
26759  42.323391 -71.095475      6     7         3
...          ...        ...    ...   ...       ...
50089  42.284826 -71.091374      4    21         1
57195  42.369081 -71.040216      3     8        10
46505  42.378649 -71.059513      4    11        12
47497  42.314688 -71.098435      4    15         7
3151   42.358427 -71.068900      9    13        11

[42776 rows x 5 columns]

### Decision Tree

In [96]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier(random_state=0)
dtc.fit(x_train, y_train)
predict = pd.DataFrame(data=dtc.predict(x_test))
classification_metrics(y_test, predict)

Confusion Matrix:

[[12494  2401]
 [ 2523   915]]

Accuracy:  0.7314132984236077

Classification report:

              precision    recall  f1-score   support

           0       0.83      0.84      0.84     14895
           1       0.28      0.27      0.27      3438

    accuracy                           0.73     18333
   macro avg       0.55      0.55      0.55     18333
weighted avg       0.73      0.73      0.73     18333

### Decision Tree Validation Test Score

In [97]:
predict = pd.DataFrame(data=dtc.predict(validation_set))
dtc_accuracy = classification_metrics(groundTruth, predict)
print('dtc_accuracy:', dtc_accuracy)

Confusion Matrix:

[[38054  9232]
 [10332  3490]]

Accuracy:  0.6798455194082608

Classification report:

              precision    recall  f1-score   support

           0       0.79      0.80      0.80     47286
           1       0.27      0.25      0.26     13822

    accuracy                           0.68     61108
   macro avg       0.53      0.53      0.53     61108
weighted avg       0.67      0.68      0.68     61108

dtc_accuracy: None

### Random Forest

In [98]:
from sklearn.ensemble import RandomForestClassifier
rfC = RandomForestClassifier(max_depth= 8, max_leaf_nodes=5, min_samples_leaf=5, n_estimators= 10, random_state=0, max_features='log2', class_weight = 'balanced')

rfC.fit(x_train, y_train)
predict = pd.DataFrame(data=rfC.predict(x_test))
classification_metrics(y_test, predict)

Confusion Matrix:

[[11200  3695]
 [ 2134  1304]]

Accuracy:  0.6820487645229913

Classification report:

              precision    recall  f1-score   support

           0       0.84      0.75      0.79     14895
           1       0.26      0.38      0.31      3438

    accuracy                           0.68     18333
   macro avg       0.55      0.57      0.55     18333
weighted avg       0.73      0.68      0.70     18333

In [99]:
validation_set

              Lat       Long  MONTH  HOUR  DISTRICT
264396  42.305407 -71.065471      2    12         8
264394  42.321045 -71.092820      2    13         3
264393  42.362403 -71.069547      2    13        11
264485  42.319047 -71.094000      2     5         3
264174  42.297690 -71.060910      2    19         8
...           ...        ...    ...   ...       ...
327337  42.288638 -71.066316      6    15         8
327338  42.333669 -71.103335      6    14         3
327339  42.304816 -71.109118      6    15         7
327340  42.304816 -71.109118      6    15         7
327308  42.283113 -71.143922      6    17         4

[61108 rows x 5 columns]

### Random Forest Validation Test Score

In [100]:
predict = pd.DataFrame(data=rfC.predict(validation_set))
rfC_accuracy = classification_metrics(groundTruth, predict)
print('rfC_accuracy:', rfC_accuracy)

Confusion Matrix:

[[33647 13639]
 [ 8333  5489]]

Accuracy:  0.6404398769391896

Classification report:

              precision    recall  f1-score   support

           0       0.80      0.71      0.75     47286
           1       0.29      0.40      0.33     13822

    accuracy                           0.64     61108
   macro avg       0.54      0.55      0.54     61108
weighted avg       0.69      0.64      0.66     61108

rfC_accuracy: None

In [101]:
from sklearn.model_selection import GridSearchCV

### ExtraTree Classifier

In [102]:
from sklearn.ensemble import ExtraTreesClassifier
etC = ExtraTreesClassifier(random_state=0, n_estimators=50)

etC.fit(x_train, y_train)
predict = pd.DataFrame(data=etC.predict(x_test))
classification_metrics(y_test, predict)

Confusion Matrix:

[[13806  1089]
 [ 2937   501]]

Accuracy:  0.7803960072001309

Classification report:

              precision    recall  f1-score   support

           0       0.82      0.93      0.87     14895
           1       0.32      0.15      0.20      3438

    accuracy                           0.78     18333
   macro avg       0.57      0.54      0.54     18333
weighted avg       0.73      0.78      0.75     18333

### ExtraTree Classifier Validation Test Score

In [103]:
predict = pd.DataFrame(data=etC.predict(validation_set))
etC_accuracy = classification_metrics(groundTruth, predict)
print('etC_accuracy:', etC_accuracy)

Confusion Matrix:

[[44451  2835]
 [12400  1422]]

Accuracy:  0.7506873077174838

Classification report:

              precision    recall  f1-score   support

           0       0.78      0.94      0.85     47286
           1       0.33      0.10      0.16     13822

    accuracy                           0.75     61108
   macro avg       0.56      0.52      0.51     61108
weighted avg       0.68      0.75      0.70     61108

etC_accuracy: None

### Ada Boosting

In [104]:
from sklearn.ensemble import AdaBoostClassifier

abC = AdaBoostClassifier(random_state=0, n_estimators=10, learning_rate=0.9)
abC.fit(x_train, y_train)
predict = pd.DataFrame(data=abC.predict(x_test), index = x_test.index)
classification_metrics(y_test, predict)

Confusion Matrix:

[[14895     0]
 [ 3438     0]]

Accuracy:  0.8124693176239568

Classification report:

              precision    recall  f1-score   support

           0       0.81      1.00      0.90     14895
           1       0.00      0.00      0.00      3438

    accuracy                           0.81     18333
   macro avg       0.41      0.50      0.45     18333
weighted avg       0.66      0.81      0.73     18333

/opt/conda/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### Ada Boosting Validation Test Score

In [105]:
predict = pd.DataFrame(data=abC.predict(validation_set))
abC_accuracy = accuracy_score(groundTruth, predict)
print('abC_accuracy:', abC_accuracy)

abC_accuracy: 0.7738103030699744

### Gradient Boosting

In [106]:
from sklearn.ensemble import GradientBoostingClassifier

gbC = GradientBoostingClassifier(random_state=0, n_estimators=10)
gbC.fit(x_train, y_train)
predict = pd.DataFrame(data=gbC.predict(x_test), index = x_test.index)
classification_metrics(y_test, predict)

Confusion Matrix:

[[14895     0]
 [ 3438     0]]

Accuracy:  0.8124693176239568

Classification report:

              precision    recall  f1-score   support

           0       0.81      1.00      0.90     14895
           1       0.00      0.00      0.00      3438

    accuracy                           0.81     18333
   macro avg       0.41      0.50      0.45     18333
weighted avg       0.66      0.81      0.73     18333

/opt/conda/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### Gradient Boosting Validation Test Score

In [107]:
predict = pd.DataFrame(data=gbC.predict(validation_set))
gbC_accuracy = classification_metrics(groundTruth, predict)
print('gbC_accuracy:', gbC_accuracy)

Confusion Matrix:

[[47286     0]
 [13822     0]]

Accuracy:  0.7738103030699744

Classification report:

              precision    recall  f1-score   support

           0       0.77      1.00      0.87     47286
           1       0.00      0.00      0.00     13822

    accuracy                           0.77     61108
   macro avg       0.39      0.50      0.44     61108
weighted avg       0.60      0.77      0.68     61108

gbC_accuracy: None

/opt/conda/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### XGBoost

In [120]:
from xgboost import XGBClassifier

xgB = XGBClassifier(scale_pos_weight=5.2,random_state=0)
xgB.fit(x_train, y_train)
predict = pd.DataFrame(data=xgB.predict(x_test))
classification_metrics(y_test, predict)

Confusion Matrix:

[[9074 5821]
 [1396 2042]]

Accuracy:  0.6063382970599466

Classification report:

              precision    recall  f1-score   support

           0       0.87      0.61      0.72     14895
           1       0.26      0.59      0.36      3438

    accuracy                           0.61     18333
   macro avg       0.56      0.60      0.54     18333
weighted avg       0.75      0.61      0.65     18333

### XGBoost Validation Test Score

In [121]:
predict = pd.DataFrame(data=xgB.predict(validation_set))
xgB_accuracy = classification_metrics(groundTruth, predict)
print('xgB_accuracy:', xgB_accuracy)

Confusion Matrix:

[[28604 18682]
 [ 6439  7383]]

Accuracy:  0.5889081625973686

Classification report:

              precision    recall  f1-score   support

           0       0.82      0.60      0.69     47286
           1       0.28      0.53      0.37     13822

    accuracy                           0.59     61108
   macro avg       0.55      0.57      0.53     61108
weighted avg       0.70      0.59      0.62     61108

xgB_accuracy: None

### Logistic Regression

In [110]:
from sklearn.linear_model import LogisticRegression

lrC = LogisticRegression(max_iter=10000, random_state=0)
lrC.fit(x_train, y_train)
predict = pd.DataFrame(data=lrC.predict(x_test))
classification_metrics(y_test, predict)

Confusion Matrix:

[[14895     0]
 [ 3438     0]]

Accuracy:  0.8124693176239568

Classification report:

              precision    recall  f1-score   support

           0       0.81      1.00      0.90     14895
           1       0.00      0.00      0.00      3438

    accuracy                           0.81     18333
   macro avg       0.41      0.50      0.45     18333
weighted avg       0.66      0.81      0.73     18333

/opt/conda/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### Logistic Regression Validation Test Score

In [111]:
predict = pd.DataFrame(data=lrC.predict(validation_set))
lrC_accuracy = accuracy_score(groundTruth, predict)
print('lrC_accuracy:', lrC_accuracy)

lrC_accuracy: 0.7738103030699744

### KNeighbors Classifier

In [112]:
# knC = KNeighborsClassifier()
# knC.fit(x_train, y_train) 
# knC_pred = knC.predict(x_test)

# classification_metrics(y_test, knC_pred)

### KNeigbors Classifier Validation Test Score

In [113]:
# predict = pd.DataFrame(data=knC.predict(scaled_validation_set))
# knC_accuracy = accuracy_score(groundTruth, predict)
# print('knC_accuracy:', knC_accuracy)

### LGBM Classifier

In [122]:
lgbm = LGBMClassifier(scale_pos_weight=4.7, random_state=0)
lgbm.fit(x_train, y_train)
lgbm_pred = lgbm.predict(x_test)

classification_metrics(y_test, lgbm_pred)

Confusion Matrix:

[[8637 6258]
 [1293 2145]]

Accuracy:  0.5881197839960727

Classification report:

              precision    recall  f1-score   support

           0       0.87      0.58      0.70     14895
           1       0.26      0.62      0.36      3438

    accuracy                           0.59     18333
   macro avg       0.56      0.60      0.53     18333
weighted avg       0.75      0.59      0.63     18333

### LGBM Classifier Validation Test Score

In [115]:
predict = pd.DataFrame(data=lgbm.predict(validation_set))
lgbm_accuracy = classification_metrics(groundTruth, predict)
print('lgbm_accuracy:', lgbm_accuracy)

Confusion Matrix:

[[30194 17092]
 [ 6692  7130]]

Accuracy:  0.6107874582706029

Classification report:

              precision    recall  f1-score   support

           0       0.82      0.64      0.72     47286
           1       0.29      0.52      0.37     13822

    accuracy                           0.61     61108
   macro avg       0.56      0.58      0.55     61108
weighted avg       0.70      0.61      0.64     61108

lgbm_accuracy: None

### Gaussian

In [116]:
gauss = GaussianNB()
gauss = gauss.fit(x_train, y_train)
gauss_pred = gauss.predict(x_test)

classification_metrics(y_test, gauss_pred)

Confusion Matrix:

[[14895     0]
 [ 3438     0]]

Accuracy:  0.8124693176239568

Classification report:

              precision    recall  f1-score   support

           0       0.81      1.00      0.90     14895
           1       0.00      0.00      0.00      3438

    accuracy                           0.81     18333
   macro avg       0.41      0.50      0.45     18333
weighted avg       0.66      0.81      0.73     18333

/opt/conda/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### Gaussian Validation Test Score

In [117]:
predict = pd.DataFrame(data=gauss.predict(validation_set))
gauss_accuracy = classification_metrics(groundTruth, predict)
    
print('gauss_accuracy:', gauss_accuracy)

Confusion Matrix:

[[47286     0]
 [13822     0]]

Accuracy:  0.7738103030699744

Classification report:

              precision    recall  f1-score   support

           0       0.77      1.00      0.87     47286
           1       0.00      0.00      0.00     13822

    accuracy                           0.77     61108
   macro avg       0.39      0.50      0.44     61108
weighted avg       0.60      0.77      0.68     61108

gauss_accuracy: None

/opt/conda/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))